<body style="height: auto;">
<div class="container">
  <div>
    <h2>TESTE TÉCNICO</h2>
    <div>
      <h3>Desafio Técnico para Desenvolvedor Full Stack (Java e Angular) - Nível Pleno</h3>
      <h4>Objetivo:</h4>
      <p>Desenvolver uma aplicação web que facilite o processo de recrutamento interno para os colaboradores da empresa. A aplicação deve permitir aos usuários pesquisar e candidatar-se a vagas internas, passando por filtros de requisitos específicos.</p>
    </div>

    <div>
      <h4>Requisitos Funcionais:</h4>
      <ul>
        <li><strong>Autenticação e Autorização:</strong> Implementar um sistema de autenticação seguro para os usuários.</li>
        <ul>
          <li>  Não deu tempo - ❌</li>
        </ul>
        <li><strong>Cadastro de Vagas:</strong> Permitir que os administradores cadastrem novas vagas, incluindo informações como título, descrição e requisitos. Possibilitar a atualização e exclusão de vagas.</li>
        <ol>
          <ul>
            <li>   <span class="mb-4"><b>Crud básico</b></span> </li>
          </ul>
          <li> Savar - ✅</li>
          <li> Editar - ✅</li>
          <li> Remover - ✅</li>
          <li> Torná-la responsiva - ✅</li>
        </ol>
        <li><strong>Candidatura a Vagas:</strong> Implementar um sistema de candidatura às vagas, onde os usuários podem expressar interesse em uma posição específica. Enviar notificações aos responsáveis pela vaga e ao candidato.</li>
        <ol>
          <li> Mandar via SMS o interesse - ❌</li>
          <li> Mandar via e-mail o interesse - ❌</li>
          </ol>
        <li><strong>Painel do Candidato (Bônus):</strong> Criar um painel para os candidatos acompanharem o status de suas candidaturas e receberem feedbacks.</li>
        <ul>
          <li>  Não deu tempo - ❌</li>
        </ul>
        <li><strong>Avaliação de Candidatos (Bônus):</strong> Se possível, implementar um sistema de avaliação de candidatos pelos responsáveis pela vaga, incluindo filtros de requisitos ou tempo de empresa.</li>
        <ul>
          <li>  Não deu tempo - ❌</li>
        </ul>
      </ul>
    </div>

    <div>
      <h4>Diferenciais:</h4>
      <ul>
        <li>Adaptar a página para dispositivos móveis (torná-la responsiva). - ✅</li>
        <li>Liberação da aplicação utilizando Docker. - ✅</li>
        <li>Utilização de boas práticas de UX na solução. - ✅</li>
        <li>Boa documentação de código e de serviços. - ✅</li>
        <li>Testes do código. - ❌</li>
      </ul>
    </div>

    <div>
      <h4>Escopo:</h4>
      <ul>
        <li>Desenvolver os módulos de frontend e backend de forma separada.</li>
        <li>O desenvolvimento do backend deve ser feito em Java 8+.</li>
        <li>O desenvolvimento do frontend deve ser feito em Angular.</li>
        <li>Preferencialmente utilizar Spring Boot 2.0+ com toda sua stack para o desenvolvimento do backend.</li>
        <li>É aceitável utilizar algumas respostas estáticas em determinadas porções da aplicação.</li>
        <li>Não é necessário submeter uma aplicação que cumpra cada um dos requisitos descritos, mas o que for submetido deve funcionar.</li>
        <li>Utilizar um banco de dados relacional PostgreSQL.</li>
      </ul>
    </div>

    <div>
      <h4>O que será avaliado:</h4>
      <ul>
        <li>O código será avaliado seguindo os seguintes critérios: manutenabilidade, clareza e limpeza de código; resultado funcional; entre outros fatores.</li>
        <li>Não esqueça de documentar o processo necessário para rodar a aplicação.</li>
      </ul>
    </div>


  </div>
</div>

</body>
