<div>
  <div class="v-body">
    <div class="v-conteiner">

      <div class="v-titulo">
        <p class="v-font-title">Bem vindos ao <span class="v-blue">Processo De Recrutamento</span></p>
        <p class="v-font-sub-title">Para acessar o portal, se indentifique:</p>
      </div>
      <div class="v-fomater-conteiner-child">
        <div class="v-conteiner-child">
          <img class="v-img-formater" src="/assets/6.png" alt="Girl in a jacket">
          <span class="v-font-sub-title-image">Canditato</span>
        </div>

        <div (click)="goToLoginPage()" class="v-conteiner-child">
          <img class="v-img-formater" src="/assets/7.png" alt="Girl in a jacket">
          <span class="v-font-sub-title-image">Recrutador</span>
        </div>
      </div>
    </div>
  </div>
  <div class="v-footer">
  </div>
</div>
