<head>
  <meta charset="utf-8">


  <title>user profile bio graph and total sales - Bootdey.com</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdey">
  <div class="row">
    <div class="profile-nav col-md-3">
      <div class="panel">
        <div class="user-heading round">
          <a>
            <img [src]="usuario.sexo == 'M' ? '../../assets/11.png' : '../../assets/8.png'" alt>
          </a>
          <h1>{{ usuario.nome || 'Nome Candidato' }}</h1>
          <p><a style="border: none"
          >{{ usuario.email || 'joao@hotmail.com' }}</a></p>
        </div>
        <ul class="nav nav-pills nav-stacked v-li-cursor-pointer">
          <li [class.active]="mostrarVisaoGeral"><a (click)="mostrarPainel('visaoGeral')"> <i
            class="fa fa-paperclip"></i>Visão geral</a></li>
          <li [class.active]="mostrarMeuPerfil"><a (click)="mostrarPainel('meuPerfil')"> <i
            class="fa fa-user"></i>Meu perfil</a></li>
          <li [class.active]="mostrarListarVagas"><a (click)="mostrarPainel('listarVagas')"> <i
            class="fa fa-search"></i>Vagas Disponíveis</a></li>
<!--          <li [class.active]="mostrarVagasAplicadas"><a (click)="mostrarPainel('mostrarVagasAplicadas')"> <i-->
<!--            class="fa fa-check-circle-o "></i>Vagas Aplicadas</a></li>-->
          <li><a (click)="sair()"> <i
            class="fa fa-sign-out"></i>Sair</a></li>
        </ul>
      </div>
    </div>
    <div class="profile-info col-md-9">
      <!--      <div class="panel">-->
      <!--        <form>-->
      <!--          <textarea placeholder="Whats in your mind today?" rows="2" class="form-control input-lg p-text-area"></textarea>-->
      <!--        </form>-->
      <!--        <footer class="panel-footer">-->
      <!--          <button class="btn btn-warning pull-right">Post</button>-->
      <!--          <ul class="nav nav-pills">-->
      <!--            <li>-->
      <!--              <a href="#"><i class="fa fa-map-marker"></i></a>-->
      <!--            </li>-->
      <!--            <li>-->
      <!--              <a href="#"><i class="fa fa-camera"></i></a>-->
      <!--            </li>-->
      <!--            <li>-->
      <!--              <a href="#"><i class=" fa fa-film"></i></a>-->
      <!--            </li>-->
      <!--            <li>-->
      <!--              <a href="#"><i class="fa fa-microphone"></i></a>-->
      <!--            </li>-->
      <!--          </ul>-->
      <!--        </footer>-->
      <!--      </div>-->

      <!--      Meu perfil-->
      <div *ngIf="mostrarVisaoGeral || mostrarMeuPerfil" id="meuPerfil" class="panel">
        <div class="bio-graph-heading">
          <img style=" width: 15rem; "
               src="https://sistemapacto.com.br/wp-content/uploads/2022/06/new_logo_Pacto_sistema_para_Academia_color.png">
        </div>
        <div class="panel-body bio-graph-info">
          <h1>Meu Perfil</h1>
          <div class="row">
            <div class="bio-row">
              <p><span>Nome </span>: {{ usuario?.nome || 'Camila' }}</p>
            </div>
            <div class="bio-row">
              <p><span>Usuário </span>: {{ usuario?.login || 'Smith' }}</p>
            </div>
            <div class="bio-row">
              <p><span>Tipo Usuário </span>: {{ 'Candidatoa (a)' }}</p>
            </div>
            <div class="bio-row">
              <p><span>E-mail </span>: {{ usuario?.email || 'joao@hotmail.com' }}</p>
            </div>
            <div class="bio-row">
              <p><span>Sexo: </span>: {{ usuario?.sexo == 'M' ? 'Masculino' : 'Feminino' }}</p>
            </div>
          </div>
        </div>
      </div>


      <!--      Vagas Disponíveis-->
      <div *ngIf="mostrarVisaoGeral || mostrarListarVagas">
        <app-vagas-list-candidate [idUsuario]="this.usuario.id" (editarVagaEvent)="editarVaga($event)"></app-vagas-list-candidate>
      </div>


    </div>
  </div>
  <p-toast position="top-center"></p-toast>
</div>
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript">

</script>
